
<h2>Treks:</h2>


<button type="button" class="btn btn-default"><a href="/treks/new">Create a New Trip</a></button> <button type="button" class="btn btn-default"><a href="/treks/<%= @trek.id %>/edit">Edit Trip</a></button>




   
   
    <ul>
        <% @treks.each do |trek| %>
        <% if trek.user_id == session[:user_id] %>         
             <% trek.id %>  
         <li> <%= trek.name %>,
            <%= trek.location %> </li>
            <br>
              <% end %>
          <% end %>
    </ul>


    <form action="/treks/<%= @trek.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <button type="button" class="btn btn-default" name="edit_trip"><a href="/treks/<%= @trek.id %>/edit">Edit Trip</a></button>
  <input type="submit" class="btn btn-default" value="Delete Trip">
</form>



    